<?xml version='1.0' encoding='utf-8'?>
<widget id="org.farmos.app" version="0.2.8" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>farmOS</name>
    <description>
				A native front-end app for farmOS.
		</description>
    <author email="mike@farmier.com" href="http://www.farmOS.org">
				farmOS Team
		</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <config-file mode="replace" parent="NSPhotoLibraryUsageDescription" platform="ios">
        <key>NSPhotoLibraryUsageDescription</key>
        <string>farmOS would like access to the photo library</string>
    </config-file>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-camera" spec="2.4.1">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="farmOS would like access to the camera" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="farmOS would like access to the camera" />
    </plugin>
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-ios-camera-permissions" spec="^1.2.0">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="This app needs camera access" />
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value="This app needs microphone access" />
        <variable name="PHOTOLIBRARY_ADD_USAGE_DESCRIPTION" value="This app needs write-access to photo library" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="This app needs read/write-access photo library access" />
    </plugin>
    <engine name="android" spec="^7.1.1" />
    <engine name="ios" spec="^4.5.5" />
</widget>
